#col-busca {
   margin: 30px 0 20px 0;
}

.z-depth-1 {
   box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#id_contato-error, #id_imagem-error, #id_endereco-error, #id_estado-error, #msg-erro {
  color: red;
}

#msg-sucesso {
  color:green;
}

#cadastro-field {
  margin-bottom: 40px;
}

#btn-cadastrar {
  display: block;
  width: 100%;
}

#img-busca {
  max-height: 150px;
  max-width:200px;
}

#img-sugestao {
  height: 300px;
}

.form-field {
  margin-bottom: 25px;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 30px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin-top: 0px;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

#titulo-sugestoes {
  margin-top: 80px;
  margin-left:55px;
}

#titulo-resultados {
  margin-top: 80px;
}

.pagination-centered {
  text-align: center;
}

#nenhum-resultado {
  margin-top:180px;
}
