<!DOCTYPE html>

<html>
   <head>
     <meta charset="UTF-8">
     <title>Busca</title>

     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.3.7.min.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

     <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}" ></script>
     <script type="text/javascript" src="{% static 'js/busca.js' %}"></script>
   </head>

   <body>
     {% include 'nav.html' %}

     <div class="col-md-offset-3 col-md-6 col-md-offset-3">
       <form id="barra_busca" class="form-inline" method="GET">
         <p>
           {% for field in form.visible_fields %}
             {{ field }}
           {% endfor %}
           <button class="btn btn-default" id="btn_busca" type="submit">Buscar</button>
           {{ num_imoveis }} imóveis encontrados.
         </p>
       </form>
     </div>

     {% if num_imoveis > 0 %}
       <div class="col-md-offset-3 col-md-6 col-md-offset-3">
         <h3 id="titulo-resultados">Imovéis Encontrados:</h3>
         {% for imovel in imoveis %}
           <div class="col-md-12 z-depth-1" id="col-busca">
             <div class="col-md-4" id="col-busca">
               <img id="img-busca" src="{{ imovel.imagem.url }}">
             </div>
             <div class="col-md-8" id="col-busca">
               <p>Endereço: {{ imovel.endereco }}</p>
               <p>Estado: {{ imovel.estado }}</p>
               <p>Contato: {{ imovel.contato }}</p>
             </div>
           </div>
         {% endfor %}
       </div>

       {% if imoveis_proximos %}
         <div class="col-md-offset-3 col-md-6 col-md-offset-3">
           <h4 id="titulo-sugestoes">Sugestões de Imovéis:</h3>
           <div id="slider">
             <a class="control_next"> > </a>
             <a class="control_prev"> < </a>
             <ul>
               {% for imovel in imoveis_proximos %}
                 <li>
                   <a href="{% url 'busca'%}?estado={{imovel.estado_id}}&endereco={{imovel.endereco}}">
                     <img id="img-sugestao" src="{{ imovel.imagem.url }}">
                   </a>
                 </li>
               {% endfor %}
             </ul>
           </div>
         </div>
       {% endif %}

       <div class="col-md-offset-3 col-md-6 col-md-offset-3">
         {% include 'paginacao.html' with model=imoveis %}
       </div>

     {% else %}
       <div class="col-md-offset-3 col-md-6 col-md-offset-3">
         <div class="text-center">
           <h1 id="nenhum-resultado">Nenhum Resultado encontrado</h1>
           <h3>Verifique os valores de busca inseridos</h3>
         </div>
       </div>
     {% endif %}

   </body>
</html>
