<!DOCTYPE html>

<html>
   <head>
      <meta charset="UTF-8">
      <title>Home</title>

      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.3.7.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

      <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}" ></script>
      <script type="text/javascript" src="{% static 'js/jquery-validate.min.js' %}" ></script>
      <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
   </head>

   <body>
    {% include 'nav.html' only %}
     <div class="content container">
       <div class="row">
         <div class="col-md-offset-3 col-md-6">
           <h1>Cadastro de Imóveis</h1>
           <br/>
           <form class="form-group" id="form-cadastro" enctype="multipart/form-data" method="POST">
             {% csrf_token %}
             {% for field in form.visible_fields %}
               {{ field.label_tag }}
               <p id="cadastro-field" class="form-field">{{ field }}</p>
               <p id="msg-erro">{{ field.errors.as_text }}</p>
             {% endfor %}
             <button type="submit" id="btn-cadastrar" class="save btn btn-default">Cadastrar</button>
             {% for message in messages %}
               <p id="msg-sucesso">{{ message }}</p>
             {% endfor %}
           </form>
         </div>
       </div>
     </div>
   </body>
</html>
